@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {

    --primary-color: #3a4052;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}

a {

    text-decoration: none;
    color: var(--primary-color);
}

h1 {
    font-weight: 300;
    font-size: 60px; 
    line-height: 1.2;
    margin-bottom: 15px;
}

.enclosing {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: var(--primary-color) url("../assets/mainMenu/mainBackground.jpg") no-repeat center
        center/cover;
}

.video-container video{
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content{
    position: absolute;
    transform:translate(0%, 30%);
    z-index: 10;
}

.settingsButton {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.settingsButton:hover {
    background: #FF0400;
}


.settings {
    z-index: 1;
    position: fixed;
    top: 180px;
    left: 0;
    display: none;
}

/*-----------------

    Login
    
----------------*/

.loginOpen {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 1;
    width: 12%;
    height:6%;
    background-color: dimgray;
    color:white;
    font-weight: 700;
    font-size: 18pt;
}

.loginPanel {
    z-index: 20;
    margin: 0 auto;
    width: 30%;
    height: 60%;
    display: none;
    color: black;
    background-color:white;
    text-align: center;
    border: 1px solid black;
    border-radius: 20px;
}

.registerPanel {
    z-index: 20;
    margin: 0 auto;
    width: 30%;
    height: 60%;
    display: none;
    color: black;
    background-color: white;
    text-align: center;
    border: 1px solid black;
    border-radius: 20px;
}

.signContainer {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

label {
    margin: 0 auto;
}

input {
    display: block;
    margin: 0 auto;
    width: 50%;
    border-radius: 5px;
}

.loginButton {
    display: block;
    margin: 0 auto;
    width: 25%;
    height: 30px;
    background-color: green;
    color: white;
    border-radius: 10px;
}

.registerButton {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}


/*-----------------

    Class Select
    
----------------*/

.classSelectButton {
    z-index: 10;
    background-color: yellow;
    display: block;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-weight: bold;
}

.loadout {
    z-index: 20;
    margin: 0 auto;
    display:none;
    width: 95%;
    height: 95%;
    border-radius: 20px;
    background-color: aliceblue;
}

.classContainer {
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    background: white;
    box-shadow: 0 1px 1px rgb(0,0,0,0.5);
    padding: 5px;
    margin-left: 50px;
    display: inline-block;
}

.loadButton {
    width: 50%;
    margin-top: 10px;
    border-radius: 10px;
    background-color: dimgray;
    color: white;
    font-weight: 700;
}

.Heavy {
    height: 300px;
    width: 300px;
    border: solid 1px;
    border-color: black;
    border-radius: 10px;
    background-color: purple;
}

.Brawler {
    height: 300px;
    width: 300px;
    border: solid 1px;
    border-color: black;
    border-radius: 10px;
    background-color: red;
}

.Builder {
    height: 300px;
    width: 300px;
    border: solid 1px;
    border-color: black;
    border-radius: 10px;
    background-color: yellowgreen;
}

.classColor {
    display: block;
    width: 200px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
}